@import '../config/colors';

.nav-bar-list {
	color: $color-primary;
	background: $color-dark;
	display: flex;
	justify-content: space-around;
	padding: .5rem 0;
	list-style: none;
}

.nav-bar-item-link {
	text-decoration: none;
}
